@font-face{
	font-family: Poppins;
	font-display: swap;
	src: url("../fonts/Poppins-Thin.woff2")format("woff2"), url("../fonts/Poppins-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
};

@font-face{
	font-family: Poppins;
	font-display: swap;
	src: url("../fonts/Poppins-Light.woff2")format("woff2"), url("../fonts/Poppins-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
};

@font-face{
	font-family: Poppins;
	font-display: swap;
	src: url("../fonts/Poppins-Medium.woff2")format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
};

@font-face{
	font-family: Poppins;
	font-display: swap;
	src: url("../fonts/Poppins-MediumItalic.woff2")format("woff2"), url("../fonts/Poppins-MediumItalic.woff") format("woff");
	font-weight: 500;
	font-style: italic;
};
