@import '../../styles/_utils';

.TodosList {
  &__Item {
    border-bottom: $border;
    background-color: $bgc-red;
    transition-duration: $anim-time;

    &:first-child {
      border-top: $border;
    }

    &:last-child {
      border-bottom: none;
    }

    &--completed {
      background-color: $bgc-green;
      color: $c-grey;
    }
  }
}
