%h1 {
  font-weight: 100;
  font-size: 100px;
  color: $c-red;
  text-align: center;
};

%text {
  font-weight: 500;
  font-size: 24px;
  color: $c-black;
};

%text-small {
  @extend %text;
  font-weight: 300;
  font-size: 14px;
};

%text-extra-small {
  @extend %text;
  font-size: 10px;
  color: $c-white;
  text-align: center;
};
